<nav>
  <a href="/workouts">
    <h1>SOLOCIZE</h1>
  </a>
  <div class="user-icon"><%= current_user.initials %></div>
  <a href="/logout">Log Out</a>
</nav>

<div>
  <h2>CREATE A WORKOUT</h2>
  <p>
    Workouts are 5 exercises long. Select from the list of available exercises
    to build your custom workout.
  </p>
</div>

<div>
  <form action="/workouts" method="POST">
    <input type="text" name="workout[name]" placeholder="Workout Name" /> <br />
    <input type="text" name="workout[description]" placeholder="Quick Description" />
    <br />
    <input type="text" name="workout[minutes]" placeholder="Length in Minutes" /> <br />

    <% 5.times do |index| %>
      <select name="exercise_ids[]" >
        <option value="" disabled selected hidden>Exercise <%= index + 1 %></option>
        <% @exercises.each do |exercise| %>
          <option value="<%= exercise.id %>"><%= exercise.category.name %> - <%= exercise.name %> - <%= exercise.rep_count %> Reps</option>
        <% end %>
      </select> </br>
    <% end %>
    
    <p>Didn’t see an exercise you’re looking for from the list?<a href="/exercises/new"> Add it here</a></p>
    <button type="submit">CREATE WORKOUT</button>
  </form>
</div>
