<nav>
  <a href="/workouts">
    <h1>SOLOCIZE</h1>
  </a>
  <div class="user-icon"><%= current_user.initials %></div>
  <a href="/logout">Log Out</a>
</nav>

<div>
  <h2><%= @workout.name %></h2>
  <p>@<%= @workout.user.username %></p>
  <p><%= @workout.description %></p>
  <% if user_owns_workout? %>
    <div>
      <a href="/workouts/<%= @workout.slug %>/edit">edit</a>
      <form action="/workouts/<%= @workout.slug %>" method="POST">
        <input type="hidden" name="_method" value="DELETE" />
        <button type="submit" value="delete">delete</button>
      </form>
    </div>
  <% end %>
</div>

<div>
  <p>Total Time <%= @workout.minutes %> Minutes</p>
  <% @workout.exercises.each.with_index(1) do |exercise, index| %>
  <div>
    <div>
      <%= index %>
    </div>
    <div>
      <h3><%= exercise.name %></h3>
      <p><%= exercise.rep_count %> Reps</p>
      <span><%= exercise.category.name %></span>
    </div>
  </div>
  <% end %>
</div>
